<div class="flex flex-col w-full items-center">
  <div class="flex flex-col items-center"> 
    <div class="flex flex-row w-full justify-center">
      <h1 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800">Discbag</h1>
    </div>
  </div>

  <div id="discbag" class="flex flex-col mx-2 mt-4 w-5/6 justify-center bg-gradient-to-b from-slate-400 to-slate-600 border-t border-l border-gray-200 inset-shadow rounded-lg">
    <%= render @discbag %>
  </div>
  <div class="flex justify-center items-center p-2 my-2 w-11/12">
    <%= link_to "Search Discs", discs_path, class: "btn-blue" %>
  </div>
</div>