<%= link_to disc, :action => 'go' do %>
  <div id="<%= dom_id disc %>" class="flex glass-box justify-center items-center gap-4 px-6 py-2 m-2">
    <p class="w-1/4">
      <%= shortmaker(disc.maker) %>
    </p>
    <p class="w-1/4">
      <%= shortmodel(disc.model) %>
    </p>
  </div>
<% end %>